.body.contact
  .row
    .title-container
      .title Contact
  .row
    .contact-info-container.arial
      .col-1-3
        %h3.subtitle-1 Ketra Headquarters
        %p.f-child 512.347.1100
        %p 3815 S. Capital of Texas Hwy.
        %p Suite 100
        %p Austin, TX 78704
      .col-1-3
        %h3.subtitle-1 NYC Showroom Info
        %p.f-child Ketra
        %p 215 Park Avenue South
        %p Suite 1704
        %p New York, NY 10003
      .col-1-3
        %h3.subtitle-1 Specifier Info
        %p.f-child 512.872.4349
        %p sales@ketra.com
  .row
    .location-container
      %h2.subtitle-1 Please select the location nearest you for local sales support.
      .desc 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        %br
        tempor incididunt ut labore et dolore magna aliqua.
      .map-container
        = image_tag("usa-tmp-map.png", class: "usa-tmp",alt: 'google-map')
