.body
  .row
    .title-container
      .title 
        A Complete Solution 
        %br
        for Lighting and Controls
      .desc 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        %br
        sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.
    .background-image
      %img.img-1-1{src:"/assets/rock-background.jpeg"}
  .row.light-grey.system
    .title.arial THE KETRA SYSTEM
    .system-options
      .option
        %img{src:"/assets/bulb.png"}
        .option-border
        .option-text.arial
          LIGHTING
      .option
        %img{src:"/assets/controls.png"}
        .option-border
        .option-text.arial
          CONTROLS
      .option
        %img{src:"/assets/browser-settings.png"}
        .option-border
        .option-text.arial
          CUSTOMIZED CONTENT
      .option
        %img{src:"/assets/glass-paper.png"}
        .option-border
        .option-text.arial
          SOLUTIONS & SERVICES
    .desc
      %br Ketra creates the highest quality, most accurate LED lighting in the world,
      %br and delivers the only advanced system of universally-compatible controls at an accessible price point. 
      %br Ketra’s proprietary technologies allow for unrivaled control and precision over the lifetime of its products, 
      %br and make truly dynamic lighting available on a global scale. With controls, light fixtures, software and 
      %br patented driver chip technology from a single manufacturer, Ketra achieves an industry-first 
      %br standardof cohesion, and enables an all-encompassing lighting solution.
    .system-more
      .button
        %p.arial LEARN MORE
        %img{src:"/assets/arrow-right.png"}
  .row.margin.home-desc
    %img.main.img-3-4{src:"/assets/nature-lighting.jpeg"}
    .home-desc-container.img-1-4
      .desc-container
        .title.arial.medium
          %br Nature perfected lighting 
          %br a long time ago.
        .desc.arial Crisp and bright during the day, soft and warm in the evening. It isn’t hard to recognize, because it’s been with us forever. From the energizing midday sun to the familiar, soothing glow of a candle: it looks beautiful, feels comfortable, and never requires our intervention.
  .row.margin-bottom.home-desc
    .home-desc-container.img-1-4
      .title.arial.medium
        %br But interior lighting has never 
        %br been able to deliver just what 
        %br nature designed — until Ketra.
      .desc.arial By joining tunable spectrum LEDs and a sophisticated system of controls and software, Ketra brings the consistent dynamism of Natural Light into the built environment. The result is interior lighting that’s healthier, makes people and places look better, and feels right no matter what time of day (or night) it is.
    %img.main.img-3-4{src:"/assets/indoor-light.jpeg"}
  .row.margin.margin-bottom.home-desc.video-container
    .mask
      %img{src:" /assets/play-button.png"}
    / %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/154195128", :webkitallowfullscreen => ""}
    / %video.main.img-1-1{src:"/assets/better-life.mp4"}
    %video.main-vid.main.img-1-1{"data-original-aspect-ratio" => "1", :preload => "auto", :src => "/assets/better-life.mp4", :loop => "loop" }
  .row.margin-bottom
    .learn-more-container
      %a{href: products_path}
        .button
          %p.arial EXPLORE OUR PRODUCTS
          %img{src:"/assets/arrow-right.png"}