.body.products
  .row
    .title-container
      .title Ketra Products
      .desc 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        %br
        tempor incididunt ut labore et dolore magna aliqua.
  .row
    .product-category.arial.bold
      .title FIXTURES
      .product-container.margin-right.light-grey
        %img{src: "/assets/products/fixture-1.png"}
        %a{href: item_url}
          .text Downlight (D3)
      .product-container.margin-right.light-grey
        %img{src: "/assets/products/fixture-2.png"}
        %a{href: item_url}
          .text G2P
      .product-container.light-grey
        %img{src: "/assets/products/fixture-3.png"}
        %a{href: item_url}
          .text Cove (G2)
  .row
    .product-category.arial.bold
      .title LAMPS
      .product-container.margin-right.light-grey
        %img{src: "/assets/products/lamp-1.png"}
        %a{href: item_url}
          .text A20
      .product-container.margin-right.light-grey
        %img{src: "/assets/products/lamp-2.png"}
        %a{href: item_url}
          .text S30
      .product-container.light-grey
        %img{src: "/assets/products/lamp-3.png"}
        %a{href: item_url}
          .text S38
  .row
    .product-category.arial.bold
      .title CONTROLS
      .product-container.margin-right.light-grey
        %img{src: "/assets/products/control-1.png"}
        %a{href: item_url}
          .text X1
      .product-container.margin-right.light-grey
        %img{src: "/assets/products/control-2.png"}
        %a{href: item_url}
          .text X2
      .product-container.light-grey
        %img{src: "/assets/products/control-3.png"}
        %a{href: item_url}
          .text N1
      .product-container.margin-right.light-grey
        %img{src: "/assets/products/control-1.png"}
        %a{href: item_url}
          .text N4
      .product-container.margin-right.light-grey
        %img{src: "/assets/products/control-2.png"}
        %a{href: item_url}
          .text N3
  .row
    .product-category.arial.bold
      .title SOFTWARE
      .product-container.light-grey
        %img{src: "/assets/products/logo-design-studio.png"}
        %a{href: item_url}
          .text Design Studio
  .row.margin-bottom.text-align-center
    .question Not sure what you need?
    .button
      %p Let's talk