= content_for :head do
  = javascript_include_tag "projects"
.body.project-page
  .row
    .title-container
      .title Projects
      .desc 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        %br
        tempor incididunt ut labore et dolore magna aliqua.
  .row
    .read-more
      .text R/GA
      .desc Crisp and bright during the day, soft and warm in the evening. It isn’t hard to recognize, because it’s been with us.
      .button
        .text READ MORE
        %img{src:"/assets/arrow-right.png"}
    .project
      %img{src:"/assets/project-image-1.jpeg"}
  .row
    .project
      %img{src:"/assets/project-image-2.jpeg"}
  .row
    .project
      %img{src:"/assets/project-image-3.jpeg"}
  .row
    .project
      %img{src:"/assets/project-image-4.jpeg"}
  .row.margin-bottom
    .item-image-slideshow
      .item-images.light-grey
        %img.image_1{src: "/assets/project-space-image-1.jpeg"}
        %img.image_2.invisible{src: "/assets/project-space-image-2.jpeg"}
        %img.image_3.invisible{src: "/assets/project-space-image-3.jpeg"}
        %img.image_4.invisible{src: "/assets/project-space-image-4.jpeg"}
        %img.image_5.invisible{src: "/assets/project-space-image-5.jpeg"}
      .sliders
        .image-index.index-1.picked{value: "1"}
        .image-index.index-2{value: "2"}
        .image-index.index-3{value: "3"}
        .image-index.index-4{value: "4"}
        .image-index.index-5{value: "5"}
  .row.brands
    .text Brands We’ve Illuminated
    .brands-container
      .image-container
        %img{src: "/assets/brand_logo/brand_tiffany_logo.jpg"}
      .image-container
        %img{src: "/assets/brand_logo/brand_mercedes_logo.png"}
      .image-container
        %img{src: "/assets/brand_logo/brand_honda_logo.jpg"}
      .image-container
        %img{src: "/assets/brand_logo/brand_tatsuya_logo.jpeg"}
      .image-container
        %img{src: "/assets/brand_logo/brand_vice_logo.jpg"}
      .image-container
        %img{src: "/assets/brand_logo/brand_msi_logo.png"}
      .image-container
        %img{src: "/assets/brand_logo/brand_trunk_logo.png"}
      .image-container
        %img{src: "/assets/brand_logo/brand_google_logo.png"}
      .image-container
        %img{src: "/assets/brand_logo/brand_fake_fifth_logo.jpg"}
      .image-container
        %img{src: "/assets/brand_logo/brand_bentley_logo.jpg"}
      .image-container
        %img{src: "/assets/brand_logo/brand_institute_logo.png"}
      .image-container
        %img{src: "/assets/brand_logo/brand_porsche_logo.jpg"}
      .image-container
        %img{src: "/assets/brand_logo/brand_philip_logo.png"}
      .image-container
        %img{src: "/assets/brand_logo/brand_harbor.jpg"}
      .image-container
        %img{src: "/assets/brand_logo/brand_worth.jpeg"}
  .popup.light-grey
    .left
      %img{src: "/assets/project-space-image-1.jpeg"}
      %img{src: "/assets/project-space-image-2.jpeg"}
      %img{src: "/assets/project-space-image-3.jpeg"}
      %img{src: "/assets/project-space-image-4.jpeg"}
      %img{src: "/assets/project-space-image-5.jpeg"}
    .right
      %img.x-button{src: "/assets/cross-out-mark.png"}
      .right-container
        .title Uchi
        .address Austin, Texas
        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscingto recliotg,nizse, bdecdauose iet’siubesemn woithdus. tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        .summary Project Summary
        .summary-text Segment:
        .summary-text Design:
        .summary-text Products Used:
        %img{src: "/assets/products/lamp-3.png"}
        %img{src: "/assets/products/logo-design-studio.png"}
        %img{src: "/assets/products/lamp-1.png"}
        %img{src: "/assets/products/fixture-3.png"}
        %img{src: "/assets/products/fixture-2.png"}
        %img{src: "/assets/products/fixture-1.png"}
        .download-link
          .text Cut Sheet
          .download-container
            %img{src: "/assets/download-image.png"}
        .download-link
          .text Case Study
          .download-container
            %img{src: "/assets/download-image.png"}