= content_for :head do
  = javascript_include_tag "resources"
.body.resources-page
  .row
    .title-container
      .title Resources
  .row
    .resource-container.arial
      .left
        .resource
          .info-container{value:"specification"}
            .image-container.light-grey
              %img{src: "/assets/products/fixture-1.png"}
            .text 
              %img.right-arrow{src: "/assets/half-right-arrow.png"}
              %p SPECIFICATION
          .downloads-container#specification.arial{vis: "hide"}
            .download-item
              .text A20 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text DS Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text G2 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text N1 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text N3 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text N4 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
        .resource
          .info-container{value:"wiring"}
            .image-container.light-grey
              %img{src: "/assets/products/lamp-3.png"}
            .text 
              %img.right-arrow{src: "/assets/half-right-arrow.png"}
              %p WIRING
          .downloads-container#wiring.arial{vis: "hide"}
            .download-item
              .text A20 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text N4 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text G2 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
        .resource
          .info-container{value:"design"}
            .image-container.light-grey
              %img{src: "/assets/products/logo-design-studio.png"}
            .text 
              %img.right-arrow{src: "/assets/half-right-arrow.png"}
              %p DESIGN
          .downloads-container#design.arial{vis: "hide"}
            .download-item
              .text A20 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text DS Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text G2 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
        .resource
          .info-container{value:"manual"}
            .image-container.light-grey
              %img{src: "/assets/products/lamp-3.png"}
            .text 
              %img.right-arrow{src: "/assets/half-right-arrow.png"}
              %p USER MANUALS
          .downloads-container#manual.arial{vis: "hide"}
            .download-item
              .text N3 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
      .right
        .resource
          .info-container{value:"installation"}
            .image-container.light-grey
              %img{src: "/assets/products/fixture-2.png"}
            .text 
              %img.right-arrow{src: "/assets/half-right-arrow.png"}
              %p INSTALLATION
          .downloads-container#installation.arial{vis: "hide"}
            .download-item
              .text S30 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text S38 Accessories Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text S38 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text Track Adapter Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text X1 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
        .resource
          .info-container{value:"diagrams"}
            .image-container.light-grey
              %img{src: "/assets/products/lamp-3.png"}
            .text 
              %img.right-arrow{src: "/assets/half-right-arrow.png"}
              %p ONE LINE DIAGRAMS
          .downloads-container#diagrams.arial{vis: "hide"}
            .download-item
              .text X1 Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
            .download-item
              .text Track Adapter Specification Sheet
              .check
                %img{src: "/assets/checkbox.png"}
                %img.checkmark{src: "/assets/checked.png", vis: "hide"}
              .image
                %img{src: "/assets/download-image.png"}
        .resource
          .info-container
            .image-container.light-grey
              %img{src: "/assets/products/fixture-3.png"}
            .text 
              %img.right-arrow{src: "/assets/half-right-arrow.png"}
              %p APP NOTES
  .row.download-all.light-grey.arial
    .title-container
      .title Download all resources for “X” product
    .download-images-container
      .image-container
        %img
        %img.x-button{src: "/assets/cross-out-mark.png"}
      .image-container
        %img
        %img.x-button{src: "/assets/cross-out-mark.png"}
      .image-container
        %img
        %img.x-button{src: "/assets/cross-out-mark.png"}
      .image-container
        %img
        %img.x-button{src: "/assets/cross-out-mark.png"}
      .image-container
        %img
        %img.x-button{src: "/assets/cross-out-mark.png"}
    .download-button-container
      .button
        %p Download All
        %img{src:"/assets/download-image.png"}