.body.who-page
  .row
    .title-container
      .title Who We Are
      .desc 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        %br
        tempor incididunt ut labore et dolore magna aliqua.
  .row.story.light-grey
    %p.arial Ketra Story in video format
  .row.manifesto.arial
    .text MANIFESTO
    .paragraph.left Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse qui officia deserunt mollit anim id est Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse qui officia deserunt mollit anim id est
    .paragraph.right Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
  .row
    .title-container
      .title How We Do It
      .desc 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        %br
        tempor incididunt ut labore et dolore magna aliqua.
  .row.system#ketra
    .title The Ketra System
    .system-container.light-grey.arial
      .column.side
        .column-upper
          .title CONTROLS
        .column-lower
      .column.side
        .column-upper
          .title LIGHTING
        .column-lower
      .column.side
        .column-upper
          .title CONTENT
        .column-lower
      .column
        .column-upper
          .title COMMISIONING
        .column-lower